$color-main: #ffa500;
// $color-sec: #01b33c;
$color-sec: #000000;

$gradient: linear-gradient(to right bottom, $color-main, $color-sec);

// CSS resets
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.page-container {
  background-color: whitesmoke;
  //   max-width: 90%;
  max-width: 65rem;
  min-height: 75vh;
  margin: 2vw auto;
  padding: 2rem;
  border-radius: 1.5rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: grid;
  //   grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 3fr;
}

.logo {
  width: 100%;
}

.main-content {
  // background-color: red;
  padding-left: 1rem;
}

.search-form input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-form input[type="submit"] {
  width: 100%;
  background-color: $color-main;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.search-form input[type="submit"]:hover {
  background-color: $color-sec;
}

.search-results {
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search-results-holder {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: $color-sec;
  line-height: 1rem;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: 2px dashed $color-main;
}

.search-results-holder:hover, .search-results-holder-active {
  background-color: whitesmoke;
  border: 2px dashed $color-sec;
}

.search-results-flag-round img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-results-country-name {
  line-height: 40px;
}

.result-link {
  text-decoration: none;
  color: $color-sec;
}


.country-container {
  
  height: 95%;
  // opacity: 0.3;
  padding: 1rem;
  
}

.country-container-header {
  margin-bottom: 1rem;
}

.country-container-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.country-message, .country-error {
  text-align: center;
  margin-top:2rem;
  font-style: italic;
  font-weight: 500;
}

.country-details ul {
  list-style-type: none;
}

.country-flag img {
  border: 1rem solid white;
}

.error-icon img{
  max-width: 100px;
}

.btn-fave {
  background-color: $color-sec;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.fave-list {
  margin-left: 1rem;
  list-style-image: url('../img/list.png');
}

.fave-list li a {
  line-height: 13px;
  text-decoration: none;
  color: $color-sec
}

.fave-list li a:hover {
  color: $color-main;
}